/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --hue: 215;
    --sat: 98%;
    --first-color: #3388ff;
    --first-color-light: #b3d3fe;
    --first-color-lighten: #9ac4fe;
    --first-color-alt: #0055cc;
    --title-color: #0d1012;
    --text-color: #0d1012;
    --text-color-light: #ededed;
    --body-color: #FFF;
    --container-color: #FFF;
    --scroll-bar-color: #bababa;
    --scroll-thumb-color: #bababa;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-semi-bold: 600;
    --font-bold: 700;
    /*========== Margenes ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font: var(--body-font);
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .5s;
}

h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: large;
    font-style: normal;
    color: black;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}



.footer-container {
    gap: 25px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: center;
}


@media (max-width: 600px) {
    .footer-container {
        padding: 10px;
    }
}

.next-button {
    font-size: x-large;
    width: 12rem;
    height: 3.8rem;
    font-weight: 600;
    background-color: #3388ff;
    color: #FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.prev-button {
    font-size: x-large;
    width: 12rem;
    height: 3.8rem;
    font-weight: 600;
    background-color: #adadad;
    color: white;
    color: #FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.section {
    padding: 14.5rem 0 1rem;
}

.section__title,
.section__title-center {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-1);
}


/*=============== HEADER ===============*/
.header {
    margin-bottom: 20px;
    width: 100%;
    background-color: #0084ff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .5s;
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header {
        position: fixed;
    }

    .nav__menu {
        position: fixed;
        background-color: var(--container-color);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        padding: 2.5rem 0;
        width: 90%;
        top: -100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: .4s;
        border-radius: 2rem;
        z-index: var(--z-fixed);
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__link,
.nav__logo {
    color: #FFF;
    font-weight: var(--font-semi-bold);
}

/* ==================== bar ===================*/
.bar_logo {
    align-items: center;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.progress-bar {
    margin-bottom: 2%;
    width: 100%;
    background-color: #d8d5d5;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.progress {
    height: 30px;
    width: 0;
    background-color: #197ef1;
    transition: width 0.4s ease-in-out;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
}

/* .progress-bar {
    margin-bottom: 2%;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 30px;
    overflow: hidden;
}

.progress {
    height: 30px;
    width: 0;
    background-color: #197ef1;
    transition: width 0.4s ease-in-out;
} */

/* 1page */
.button-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 50px 0px;
}

.icon-button {
    width: 17rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.icon-button.clicked {
    background-color: #197ef1;
}

.icon-button.clicked p {
    color: #FFF;
}

.icon-button2 {
    width: 17rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.icon-button2.selected {
    background-color: #197ef1;
}

.icon-button2.selected p {
    color: #FFF;
}

.text-button {
    width: 10rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.text-button.selected {
    border: 1px solid #96B3FF;
    background-color: #96B3FF;
}

.text-button.selected p {
    color: #fff;
}

@media (max-width: 1600px) {
    p {
        font-size: medium;
    }

    h1 {
        font-size: larger;
    }

    .button-container {
        margin: 30px 0px 40px 0px;
    }

    .footer-container {
        margin-bottom: 10px;
    }

    .icon-button {
        width: 12rem;
        height: 12rem;
    }

    .icon-button2 {
        width: 12rem;
        height: 12rem;
    }

    .text-button {
        width: 8rem;
        height: 6rem;
    }
}

@media (max-width: 1400px) {
    .textarea-title {
        margin-top: 10px;
    }

    p {
        font-size: 105%;
    }

    .footer-container {
        margin-bottom: 10px;
    }

    .icon-button {
        width: 11rem;
        height: 9rem;
    }

    .icon-button2 {
        width: 11rem;
        height: 9rem;
    }

    .text-button {
        width: 8.5rem;
        height: 5rem;
    }

    .text-button2 {
        width: 6rem;
        height: 6rem;
    }
}

@media (max-width: 1200px) {
    .sex-button {
        width: 3rem;
        height: 2rem;
    }

    .prev-button {
        width: 10rem;
        height: 3rem;
        font-size: medium;
    }

    .next-button {
        width: 10rem;
        height: 3rem;
        font-size: medium;
    }

    .textarea-title {
        margin-top: 1%;
    }

    p {
        font-size: small;
    }

    h1 {
        font-size: large;
    }

    .button-container {
        margin: 30px 0px 40px 0px;
    }

    .footer-container {
        margin-bottom: 10px;
    }

    .icon-button {
        width: 9rem;
        height: 9rem;
    }

    .icon-button2 {
        width: 9rem;
        height: 9rem;
    }

    .text-button {
        width: 8rem;
        height: 4rem;
    }

    .text-button2 {
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 900px) {
    .sex-button {
        width: 3rem;
        height: 2rem;
    }

    p {
        font-size: small;
    }

    h1 {
        font-size: medium;
    }

    .icon-button {
        width: 7rem;
        height: 9rem;
    }

    .icon-button2 {
        width: 7rem;
        height: 9rem;
    }

    .text-button {
        width: 6rem;
        height: 5rem;
    }
}

@media (max-width: 600px) {


    h1 {
        font-size: medium;
    }

    .button-container {
        margin: 40px 0px 60px 0px;
    }

    .icon-button {
        width: 7rem;
        height: 9rem;
    }

    .icon-button2 {
        width: 7rem;
        height: 9rem;
    }

    .text-button {
        width: 4rem;
        height: 8rem;
    }

    .footer-container {
        margin-bottom: 50px;
    }
}

.sex-button {
    margin-left: 10px;
    width: 9rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
}

.sex-button.clicked {
    background-color: #003066;
}


.text-button2 {
    margin: 10px;
    width: 15rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.text-button2.selected {
    background-color: #197ef1;
}

.text-button2.selected p {
    color: #FFF;
}

.text-button3 {
    font-size: medium;
    margin: 10px;
    width: 12.5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 70px;
    background-color: white;
    cursor: pointer;
}

.text-button3.selected {
    background-color: #96B3FF;
    border: 1px solid #96B3FF;
}

.text-button3.selected h3 {
    color: #FFF;
}

.button-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.button-text {
    text-align: center;
}

/* 2page */
.age-cm-kg {
    display: flex;
}


.style-input {
    margin-left: 7px;
    margin-right: 7px;
    padding: 10px;
    width: 25%;
    height: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

.style-input:focus {
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.textarea-title {
    margin-top: 3%;
}

.big-textarea {
    margin-top: 1%;
    width: 100%;
    height: 120px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.5;
    resize: none;
}

.big-textarea::placeholder {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #999;
}

.big-textarea:focus {
    font-size: 16px;
    line-height: 1.5;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.lottie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

lottie-player {
    width: 300px;
    height: 300px;
}


/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
    .header {
        position: fixed;
    }

    .svg__img {
        width: 100%;
    }

    .section {
        padding: 3.5rem 0 1rem;
    }

    .services__img {
        width: 100px;
    }

    .app__buttons {
        grid-template-columns: max-content;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .svg__img {
        width: 100%;
    }

    .section__title-center {
        text-align: initial;
    }

    .home__container,
    .about__container,
    .security__container,
    .services__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .home__img {
        order: 1;
    }

    .home__container,
    .about__container,
    .security__container,
    .contact__container {
        align-items: center;
    }

    .about__data,
    .security__data,
    .contact__description {
        text-align: initial;
    }

    .about__img,
    .app__img {
        order: -1;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

    .nav__toggle {
        display: none;
    }

    .change-theme {
        position: initial;
    }

    .home__container {
        padding: 6rem 0 2rem;
    }

    .app__buttons {
        justify-content: initial;
    }
}

/* For large devices */
@media screen and (min-width: 968px) {
    .button__header {
        display: block;
    }

    .svg__img {
        width: 470px;
    }

    .about__container,
    .security__container,
    .app__container,
    .contact__container {
        column-gap: 6rem;
    }

    .services__container {
        grid-template-columns: repeat(2, 1fr);

    }

    .contact__container {
        grid-template-columns: 2fr 1.5fr 1fr;
    }

    .footer__container {
        grid-template-columns: repeat(5, 1fr);
    }

    .footer__social {
        align-items: flex-start;
    }

    .footer__social-link {
        font-size: 1.8rem;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }


}